<ul class="nav navbar-nav navbar-right">
    <li id="ExpSet" display>
        <a href="#" id="current_exp">
            Experiment: {{ request.session.sel_exp }}, Participant: {{ request.session.sel_part }}
        </a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ user.username }}
            <i class="fa fa-user fa-fw"></i>
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="#">
                    <i class="fa fa-user fa-fw"></i> User Profile
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{% url 'EyeMap2:user_logout' %}">
                    <i class="fa fa-sign-out fa-fw"></i> Logout
                </a>
            </li>
        </ul> <!-- /.dropdown-user -->
    </li>
</ul>